.signupForm{
    margin: 15px 30px;
    padding: 10px 20px;
}
.inputForm{
    width: 50%;
    margin: 0 auto;
    background-color: aqua ;
    padding: 29px 38px;
}
.invalid-entry{
    /* display: none;  */
    width: 100%;
    margin-top: 0.25rem;
    font-size: .875em;
    color: #ff0019;
}
.displayTable{
    padding: 5px 15px;
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.disp-image img{
    height: 600px;
    width: 800px;
}